.hidden {
  display: none;
}

.container {
  text-align: center;
  margin-top: 50px;
}

#showAnswerButton {
  padding: 10px 20px;
  font-size: 16px;
}

#answer {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
