body {
  /* overflow-x: hidden; */
  margin: 0;
  font-family: epilogue;
}

header {
  background-color: #29283e;
  /* position: absolute; */
  width: 1400px;
  height: 400px;
  gap: 0px;
  opacity: 0px;
}

.group {
  display: flex;
  gap: 190px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
  align-items: center;
  padding: 0 135px;
}

.logo {
  width: 152px;
  height: 48px;
  top: 16px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
}

.nav ul {
  display: flex;

  gap: 50px;
  margin-bottom: 0 !important;
}

ul li {
  color: white;
  list-style: none;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;

  font-size: 14px;
}

.text {
  width: 138px;
  height: 48px;
  position: relative;
  top: 16px;
  left: 60px;
  gap: 0px;
  opacity: 0px;
}

.botton botton {
  outline: lightgray;
}

.texts {
  text-align: center;

  font-family: Epilogue;
  font-size: 42px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: center;
}

.paragraph {
  color: lightgray;
  text-align: center;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.main-container {
  background-color: #fdf0e9;
  height: 2055px;
  width: 1400px;
}

.paragraphs {
  color: #ef6d58;
  padding: 46px 135px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
}

.paragraphs-two {
  color: #391400;
  padding: 0 135px;
  font-family: Epilogue;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
}

.paragraphs-three {
  position: relative;
  bottom: 99px;
  left: -193px;
  text-align: right;
  color: #391400;
}

.img img {
  padding: 0 135px;
  width: 540px;
  height: 450px;
  top: 896px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
}

.play-img {
  position: relative;
  top: 0;
  width: 32vw;
  height: auto;
  margin: 1em;
}

.play {
  position: absolute;
  width: 148px;
  height: 148px;
  bottom: 140px;
  left: 340px;
  padding: 1em;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  line-height: 0;
}

.time {
  position: absolute;
  bottom: 1px;
  left: 139px;
  padding: 1em;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  line-height: 0;
}

.watch {
  width: 10px;
  position: relative;
  bottom: 450px;
  left: 730px;
}

.laptop {
  width: 10px;
  position: relative;
  bottom: 415px;
  left: 730px;
}

.wall {
  width: 10px;
  position: relative;
  bottom: 838px;
  left: 1003px;
}

.bag {
  width: 10px;
  position: relative;
  bottom: 803px;
  left: 1000px;
}

.texts-two {
  color: #ef6d58;
  position: relative;
  bottom: 600px;
  padding: 0 135px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
}

.paragraphs-four {
  color: #391400;
  position: relative;
  bottom: 600px;
  padding: 0 135px;
}

.paragraphs-five {
  color: #391400a3;
  position: relative;
  bottom: 600px;
  padding: 0 135px;
}

.box {
  position: relative;
  width: 336px;
  height: 336px;
  left: 555px;
  bottom: 950px;
  gap: 0px;
  border-radius: 6px 6px 0px 6px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  border: 1px solid #f3d1bf;
}

.box img {
  width: 80px;
  height: 80px;
  position: relative;
  top: 40px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
}

.icon img {
  width: 32px;
  height: 32px;
  top: -15px;
  left: 65px;
  gap: 0px;
}

.box-text {
  width: 154px;
  height: 32px;
  position: relative;
  /* top: 40px; */
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #391400;
}

.box-paragraph {
  width: 240px;
  height: 70px;
  position: relative;
  /* top: 72px; */
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.small-box {
  padding-right: 135px;
  width: 206px;
  height: 272px;
  position: relative;
  bottom: 1223px;
  left: 892px;
  gap: 0px;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid #f3d1bf;
}

.small-box-text {
  width: 156px;
  height: 32px;
  position: relative;
  top: 50px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #391400;
}

.small-box-paragraph {
  width: 240px;
  height: 70px;
  position: relative;
  top: 55px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.boxes-one {
  width: 391px;
  height: 176px;
  position: relative;
  bottom: 1092px;
  left: 105px;
  gap: 0px;
  border-radius: 6px 0px 0px 6px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #f3d1bf;
}

.boxes-two {
  width: 391px;
  height: 176px;
  position: relative;
  bottom: 1269px;
  left: 497px;
  gap: 0px;
  border-radius: 6px 0px 0px 6px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #f3d1bf;
}

.boxes-three {
  width: 391px;
  height: 176px;
  position: relative;
  bottom: 1447px;
  left: 888px;
  gap: 0px;
  border-radius: 6px 0px 0px 6px;
  border: 1px;
  opacity: 0px;
  border: 1px solid #f3d1bf;
}

.boxes-one-text {
  width: 77px;
  height: 48px;
  position: relative;
  /* top: 40px; */
  left: 53px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
}

.boxes-one-paragraph {
  width: 198px;
  height: 32px;
  position: relative;
  /* top: 58px; */
  left: 53px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.boxes-two-text {
  width: 75px;
  height: 48px;
  position: relative;
  /* top: 47px; */
  left: 53px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
}

.boxes-two-paragraph {
  width: 170px;
  height: 32px;
  position: relative;
  /* top: 58px; */
  left: 53px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.boxes-three-text {
  width: 110px;
  height: 48px;
  position: relative;
  left: 53px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
}

.boxes-three-paragraph {
  width: 183px;
  height: 32px;
  position: relative;
  bottom: 24px;
  left: 1px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.whole-container {
  background: #28293e;
  height: 3312px;
  width: 1400px;
  position: relative;
  bottom: 1350px;
  opacity: 0px;
}

.letter {
  /* width: 96px; */
  height: 32px;
  position: relative;
  top: 95px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: #ef6d58;
}

.whole-container-letter {
  width: 531px;
  height: 128px;
  position: relative;
  top: 70px;
  left: 135px;
  gap: 0px;
  opacity: 0px;

  font-family: Epilogue;
  font-size: 20px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;

  color: #ffffff;
}

.letter-two {
  width: 531px;
  height: 128px;
  position: relative;
  top: -40px;
  left: 135px;
  gap: 0px;
  opacity: 0px;

  font-family: Epilogue;
  font-size: 20px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;

  color: #ffffff;
}

.one {
  width: 112px;
  height: 48px;
  position: absolute;
  top: 180px;
  left: 1093px;
  gap: 0px;
  opacity: 0px;
  background-color: #28293e;
}

.profile-one {
  width: 270px;
  height: 272px;
  position: relative;
  bottom: 4372px;
  left: 135px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #3a3c56;
}

.profile-one img {
  width: 196px;
  height: 247px;
  position: relative;
  top: 25px;
  left: 32px;
  gap: 0px;
  opacity: 0px;
}

.profile-two {
  width: 270px;
  height: 272px;
  position: relative;
  bottom: 4645px;
  left: 435px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #3a3c56;
}

.profile-two img {
  width: 259px;
  height: 232px;
  position: relative;
  top: 40px;
  left: 8px;
  gap: 0px;
  opacity: 0px;
}
.profile-three {
  width: 270px;
  height: 272px;
  position: relative;
  bottom: 4919px;
  left: 735px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #3a3c56;
}

.profile-three img {
  width: 205px;
  height: 238px;
  position: relative;
  top: 34px;
  left: 37px;
  gap: 0px;
  opacity: 0px;
}

.profile-four {
  width: 270px;
  height: 272px;
  position: relative;
  bottom: 5193px;
  left: 1035px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #3a3c56;
}

.profile-four img {
  width: 230px;
  height: 233px;
  position: relative;
  top: 39px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
}

.name-one {
  width: 147px;
  height: 32px;
  position: relative;
  bottom: 5200px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
  color: white;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.about-one {
  width: 70px;
  height: 32px;
  position: relative;
  bottom: 5209px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
  color: rgb(150, 144, 144);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.name-two {
  width: 233px;
  height: 32px;
  position: relative;
  bottom: 5310px;
  left: 435px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: white;
}

.about-two {
  width: 131px;
  height: 32px;
  position: relative;
  bottom: 5319px;
  left: 435px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(150, 144, 144);
}

.name-three {
  width: 215px;
  height: 32px;
  position: relative;
  bottom: 5422px;
  left: 735px;
  gap: 0px;
  opacity: 0px;
  color: white;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.about-three {
  width: 77px;
  height: 32px;
  position: relative;
  bottom: 5429px;
  left: 735px;
  gap: 0px;
  opacity: 0px;
  color: rgb(150, 144, 144);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.name-four {
  width: 215px;
  height: 32px;
  position: relative;
  bottom: 5533px;
  left: 1035px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: white;
}

.about-four {
  width: 137px;
  height: 32px;
  position: relative;
  bottom: 5539px;
  left: 1035px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(150, 144, 144);
}

.pin img {
  width: 76px;
  height: 12px;
  position: relative;
  bottom: 5458px;
  left: 682px;
  gap: 0px;
  opacity: 0px;
}

.term {
  width: 138px;
  height: 32px;
  position: relative;
  bottom: 5432px;
  left: 651px;
  gap: 0px;
  opacity: 0px;
  color: #ef6d58;
  font-family: Epilogue;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: center;
}

.top {
  width: 394px;
  height: 128px;
  position: relative;
  bottom: 5450px;
  left: 523px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 36px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: center;
  color: white;
}

.down {
  width: 394px;
  height: 128px;
  position: relative;
  bottom: 5540px;
  left: 523px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 36px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: center;
  color: white;
}

.rate-one {
  width: 770px;
  height: 400px;
  position: relative;
  bottom: 5476px;
  left: 335px;
  gap: 0px;
  opacity: 0px;
}

.rate-two {
  width: 770px;
  height: 336px;
  position: relative;
  bottom: 5876px;
  gap: 0px;
}
.rate-three {
  width: 770px;
  height: 336px;
  position: relative;
  bottom: 6212px;
  left: 1104px;
  gap: 0px;
  opacity: 0.24px;
}

.dot {
  width: 76px;
  height: 12px;
  position: relative;
  bottom: 6039px;
  left: 682px;
  gap: 0px;
  opacity: 0px;
}
.question {
  width: 34px;
  height: 32px;
  position: relative;
  bottom: 5996px;
  left: 335px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: #ef6d58;
}

.topper {
  width: 582px;
  height: 48px;
  position: relative;
  bottom: 5999px;
  left: 335px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  color: white;
}
.last {
  width: 770px;
  height: 67px;
  position: relative;
  bottom: 5969px;
  left: 335px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(150, 144, 144);
}

.mid {
  width: 770px;
  height: 67px;
  position: relative;
  bottom: 3px;
  /* left: 335px; */
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(150, 144, 144);
}

.answer {
  width: 770px;
  height: 273px;
  position: relative;
  bottom: 5896px;
  left: 335px;
  gap: 0px;
  border-radius: 6px 6px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  box-shadow: 0px 32px 64px 0px #3914000a;
}

.answer-one {
  width: 356px;
  height: 32px;
  position: relative;
  top: 47px;
  left: 43px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #391400;
}

.qna {
  width: 664px;
  height: 121px;
  position: relative;
  bottom: 6074px;
  left: 379px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #391400a3;
}

.qna-one {
  width: 664px;
  height: 121px;
  position: relative;
  bottom: 6183px;
  left: 379px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #391400a3;
}

.qna-two {
  width: 664px;
  height: 121px;
  position: relative;
  bottom: 6293px;
  left: 379px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #391400a3;
}

.qna-three {
  width: 664px;
  height: 121px;
  position: relative;
  bottom: 6400px;
  left: 379px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #391400a3;
}
.up {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 6670px;
  left: 1033px;
  gap: 0px;
  opacity: 0px;
}

.ans {
  width: 770px;
  height: 113px;
  position: relative;
  bottom: 6484px;
  left: 334px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #3a3c56;
}

.ans-one {
  width: 361px;
  height: 32px;
  position: relative;
  bottom: -10px;
  left: 53px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.downward {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 25px;
  left: 705px;
  gap: 0px;
  opacity: 0px;
}

.que {
  width: 770px;
  height: 113px;
  position: relative;
  bottom: 6486px;
  left: 334px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #3a3c56;
}

.que-one {
  width: 219px;
  height: 32px;
  position: relative;
  bottom: -10px;
  left: 54px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}

.downward-one {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 25px;
  left: 705px;
  gap: 0px;
  opacity: 0px;
}

.que-box {
  width: 770px;
  height: 113px;
  position: relative;
  bottom: 6486px;
  left: 334px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #3a3c56;
}

.que-box-one {
  width: 323px;
  height: 32px;
  position: relative;
  bottom: -7px;
  left: 54px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}

.downward-two {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 25px;
  left: 705px;
  gap: 0px;
  opacity: 0px;
}

.logo-one {
  width: 1170px;
  height: 47px;
  position: relative;
  bottom: 6382px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
}

.big-box {
  width: 1170px;
  height: 544px;
  position: relative;
  bottom: 6390px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
  background: #ef6d58;
}

.big-box-one {
  width: 368px;
  height: 192px;
  position: relative;
  top: 90px;
  left: 105px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 36px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  color: #ffffff;
}

.big-box-text {
  width: 470px;
  height: 66px;
  position: relative;
  bottom: -90px;
  left: 105px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(207, 188, 188);
}

.now {
  width: 154px;
  height: 48px;
  position: relative;
  top: 138px;
  left: 95px;
  gap: 0px;
  opacity: 0px;
}

.pic {
  width: 444px;
  height: 432px;
  position: relative;
  bottom: 293px;
  left: 641px;
  gap: 0px;
  opacity: 0px;
}

.nice {
  width: 1400px;
  height: 3899px;
  top: 400px;
  gap: 0px;
  opacity: 0px;
  background: #fdf0e9;
}

.agent {
  width: 84px;
  height: 32px;
  position: relative;
  top: 3540px;
  left: 143px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #391400;
}

.menu {
  width: 52px;
  height: 32px;
  position: relative;
  top: 3492px;
  left: 435px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: #ef6d58;
}

.list {
  width: 69px;
  height: 128px;
  position: relative;
  top: 3510px;
  left: 435px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #391400;
}

.give {
  width: 78px;
  height: 32px;
  position: relative;
  top: 3294px;
  left: 735px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: #ef6d58;
}

.given {
  width: 105px;
  height: 128px;
  position: relative;
  top: 3310px;
  left: 735px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #391400;
}

.social {
  width: 160px;
  height: 48px;
  position: relative;
  top: 3106px;
  left: 1145px;
  gap: 0px;
  opacity: 0px;
}

.rec {
  background: #f3d1bf;

  width: 1170px;
  height: 1px;
  position: relative;
  top: 3308px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
}

.lower {
  width: 351px;
  height: 32px;
  position: relative;
  top: 3320px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #391400;
}

.bond {
  width: 102px;
  height: 32px;
  position: relative;
  top: 3270px;
  left: 1030px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  color: #391400;
}

.last-bond {
  width: 105px;
  height: 32px;
  position: relative;
  top: 3223px;
  left: 1200px;
  gap: 0px;
  opacity: 0px;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  color: #391400;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}
